.main-bg {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  pointer-events: none;

  .canvas {
    height: 100%;
    width: 100%;
  }

  .canvas-bg {
    display: block;
    width: 100%;
    height: 100%;
  }
}
