@import '../../index.scss';

$color-background: #1a1a1a;
$color-text: #d8d8d8;
$color-blue: rgb(81,162,233);
$color-blue-dark: #1e2d3d;

.about {
  position: relative;
  z-index: 1;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1500px) {
    width: 1100px;
  }

  @media (max-width: 1200px) {
    width: auto;
  }

  &__heading {
    @include section-heading-style;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 1300px) {
      flex-direction: column;
    }
  }
}

.section-heading {
  @include section-heading-style;
  margin-bottom: 1rem;
}

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  left: -300px;
  opacity: 0;
  transition: all 1.1s;

  @media (max-width: 1301px) {
    margin-bottom: 5rem;
    left: 0;
    opacity: 1;
  }

  @media (max-width: 1000px) {
    margin-bottom: 4rem;
  }

  &__picture {
    height: 24rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    svg {
      transition: all 1.1s;
    }
  }

  &__blurb {
    font-size: 1.5rem;
    width: 500px;
    line-height: 1.7;
    color: $color-text;

    @media (max-width: 600px) {
      width: 80vw;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.4rem;
    }
  }

  &__fade-in {
    opacity: 1;
    transform: translateX(300px);

    @media (max-width: 1300px) {
      transform: translateX(0);
    }
  }
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1300px) {
    width: 100%;
    margin-top: 4rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;

    @media (max-width: 1500px) {
      gap: 2rem;
    }

    @media (max-width: 600px) {
      gap: 1.5rem;
    }

    @media (max-width: 410px) {
      gap: 1rem;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:not(:last-child) {
      margin-right: 25px;

      @media (max-width: 410px) {
        margin-right: 15px;
      }

      @media (max-width: 300px) {
        margin-right: 10px;
      }
    }
  }

  &__item {
    opacity: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    padding: 10px;
    
    border: double 3px transparent;
    border-image-slice: 1;
    border-width: 3px;
    background-image: linear-gradient($color-background, $color-background),
      radial-gradient(circle at top left, $color-blue, var(--accent-color));
    border-radius: 10px;
    background-origin: border-box;
    background-clip: content-box, border-box;

    transition: transform 0.2s, opacity 1.2s;
    overflow: hidden;

    @media (max-width: 1500px) {
      height: 90px;
      width: 90px;
    }

    @media (max-width: 1300px) {
      opacity: 1;
      border-width: 2px;
    }

    @media (max-width: 1000px) {
      height: 80px;
      width: 80px;
    }

    @media (max-width: 600px) {
      height: 70px;
      width: 70px;
    }

    @media (max-width: 500px) {
      height: 60px;
      width: 60px;
    }

    @media (max-width: 410px) {
      height: 50px;
      width: 50px;
    }

    img {
      height: 50px;
      width: auto;
      transition: all 0.2s;

      @media (max-width: 1500px) {
        height: 45px;
      }

      @media (max-width: 1000px) {
        height: 40px;
      }

      @media (max-width: 600px) {
        height: 35px;
      }

      @media (max-width: 500px) {
        height: 30px;
      }

      @media (max-width: 410px) {
        height: 25px;
      }
    }

    &-fade-in {
      opacity: 1;
    }

    &--js img {
      border-radius: 5px;
    }
  }
}

.skills__item--nextjs img {
  border-radius: 50%;
}