

footer {
    text-align: center;
    background-color: #0d1116;
    color: white;
    padding: 20px 0;

    .footer-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 20px;
    }

    .contact-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0;

        a, .phone-number {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: white;
            margin: 0;
            font-size: 1.2rem;

            &:not(:last-child) {
                margin-bottom: 3px;
            }

            svg {
                margin-right: 8px;
                width: 1.5em !important;
                height: 1.5em !important;
            }

            &:hover {
                color: rgb(var(--accent-color-rgb));
            }
        }
    }

    .social-links {
        display: flex;
        align-items: center;
        margin: 0;
        
        a {
            margin: 0 10px;
            color: white;

            svg {
                width: 2em !important;
                height: 2em !important;
            }

            &:hover {
                color: rgb(var(--accent-color-rgb));
            }
        }
    }

    p {
        font-size: 0.8em;
    }
}